<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <!--<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />-->
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>
<body>
    <header id="header">
        <h1>ASP .NET MVC MUSIC STORE</h1>
        <nav>
            <ul id="navlist">
                <li class="first"><a href="@Url.Content("~")" id="current">Home</a></li>
                <li><a href="/Store/Index">Store</a></li>
                <li>@{Html.RenderAction("CartSummary", "ShoppingCart");}</li>
                <li><a href="@Url.Content("~/StoreManager/Index")">Admin</a></li>
            </ul>
        </nav>
    </header>

    <!--@{Html.RenderAction("GenreMenu", "Store");}-->

    <div id="main">
        <aside id="leftSide">
            @{Html.RenderAction("GenreMenu", "Store");}
        </aside>
        <section id="centerSide">
            @RenderBody()
        </section>            
    </div>

    <div id="footer">
        built with <a href="http://asp.net/mvc">ASP.NET MVC 3</a>
    </div>
    <!--<script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>-->
</body>
</html>